main>.container {
  paddingg: 60px 15px 0;
  padding: 3rem 1rem 0;
  margin-bottom: 5rem;
}
main>.container-fluid {
  padding-top: 60px;
}

body {
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* Use rems instead of pixels or percents */
}
.sticky-footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
}
.homeBG {
  /* Add this in from #3 Building the site at 18 min. */
  width: 100%;
  background: url(/img/GridBG.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.homeText {
  /* Added this from #3 Building the site at 25 min. */
  font-family: modesto-open-shadow, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(195, 255, 0);
}
.minHeight {
  /* min-height: 70vh; */
  min-height: 80vh;
}